[submodule "clang-p2996"]
	path = clang-p2996
	url = https://github.com/siqiyyyy/clang-p2996.git
	branch = expr-reflect
[submodule "gcc-mirror"]
	path = gcc-mirror
	url = https://github.com/yesmanchyk/gcc-mirror.git
	branch = no_expression_kind
[submodule "gcc-darwin-reflect"]
	path = gcc-darwin-reflect
	url = https://github.com/iains/gcc-darwin-arm64.git
	branch = master-wip-apple-si
